<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056636291732-8d3mjtqps0t96nbkoflqt9uurr72m908.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056636291732-8d3mjtqps0t96nbkoflqt9uurr72m908</string>
	<key>API_KEY</key>
	<string>AIzaSyDhZNRkyEWudLAej_f4XnG-R1FVWzd-tkY</string>
	<key>GCM_SENDER_ID</key>
	<string>1056636291732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS3203.Paws-in-Balance</string>
	<key>PROJECT_ID</key>
	<string>paws-in-balance-a4ed3</string>
	<key>STORAGE_BUCKET</key>
	<string>paws-in-balance-a4ed3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056636291732:ios:d2dc276b4a878fc81bc281</string>
</dict>
</plist>